<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
  <img src="<%= asset_path "yasai.jpg" %>">
</section>
<section class="about">
  <h1>おいしいものを作ろう！食べよう！ </h1>

<footer>
  <p>おべんきょ株式会社</p>
  <p>© 2017 Copyright Obenkyo Corp.</p>
</footer>

